doctype html 
html(lang='ko') 
    head
        title="Hello pug."
        style 
            include pug.css
    body 
        p.greetings#people Hello world!!!
        div.container.column.main#division
            h1
        div 
            | To insert multlines 
            | asdfasdfasfdasfafs
        br
        | You can use the pipe operator.